.asset-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

.asset-panel :global(.ant-tabs) {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 10px;
}
